---
import Layout from '@layouts/Layout.astro';
import UXCorpRangel from '../sections/Hero/UXCorpRangel.astro';
import Harley from '../sections/Hero/Harley.astro';
import LinkButton from '@components/LinkButton.astro';
---

<script>
  import quotes from '@data/quotes-404';

  const frases = quotes;
  const randomQuote = frases[Math.floor(Math.random() * quotes.length)];

  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('quote').textContent = randomQuote;
  });
</script>

<Layout title="UX Corp Rangel - 404" description="Astro description">
  <main>
    <section class="section-404">
      <div class="logo-wrapper">
        <span>4</span>
        <div class="harley">
          <Harley />
          <div class="corp">
            <UXCorpRangel />
          </div>
        </div>
        <span>4</span>
      </div>
      <p id="quote"></p>
      <LinkButton link="/" label="Inicio" icon="chevron-up" shadow="green" bgColor="var(--saffron-color)" textColor="var(--alt-text-color)" />
    </section>
  </main>
</Layout>

<style>
  .section-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 4rem;

    span {
      font-size: 400px;
    }

    p {
      text-align: center;
      font-size: 24px;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -2;
      gap: 4rem;

      & .harley {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 376px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .corp {
          width: 150%;
          animation: rotate-animation 60s infinite linear;
          position: absolute;
          z-index: -1;
          color: var(--text-color);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .section-404 {
      margin: 2rem;
      display: flex;
      flex-direction: column;

      .logo-wrapper {
        max-width: 90%;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;

        & .harley {
          height: auto;
          width: 100%;
          max-width: 30%;
          margin: 0 auto;

          & .corp {
            width: 140%;
          }
        }
      }

      span {
        font-size: 80px;
        text-align: center;
      }
    }
  }

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
