---
import Button from '@components/LinkButton.astro';
import Layout from '@layouts/Layout.astro';
import AboutUs from '@sections/AboutUs.astro';
import Hero from '@sections/Hero.astro';
import Mission from '@sections/Mission.astro';
import Volunteer from '@sections/Volunteer.astro';
import Team from '@sections/Team.astro';
---

<Layout title="UX Corp Rangel" description="Astro description">
  <main>
    <Hero />

    <AboutUs />

    <Mission />

    <section id="proyectos">
      <Button label="Only text" link="#" />
      <Button label="Green shadow" link="#" shadow="green" />
      <Button label="Green shadow with icon" link="#" shadow="green" icon="socials/linkedin" />
      <Button label="With icon" link="#" icon="user-star" />
      <Button label="Only icon" link="#" icon="socials/github" hideLabel />
      <Button label="External" link="#" external />
      <Button label="Custom color" link="#" textColor="red" bgColor="rgb(120 60 120)" />
    </section>

    <Team />

    <Volunteer />
  </main>
</Layout>

<style>
  main {
    width: 100%;

    section {
      min-height: 100dvh;

      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(3) {
        background-color: var(--saffron-color);
      }

      &:nth-child(4) {
        background-color: var(--mauve-color);
      }

      &:nth-child(5) {
        background-color: var(--alt-text-color);
      }

      &:nth-child(6) {
        background-color: var(--cinnabar-color);
      }
    }
  }
</style>
