---
import LinkButton from '@components/LinkButton.astro';
import ProjectCard from '@components/ProjectCard.astro';
import BubbleAvatar from '@components/BubbleAvatar.astro';
import CurveIconLeft from '@sections/Projects/CurveIconLeft.astro';
import CurveIconRight from '@sections/Projects/CurveIconRight.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="UX Corp Rangel - Proyectos" description="Proyectos realizados en comunidad">
  <main>
    <section class="projects-wrapper">
      <ProjectCard
        className="project-principal"
        desc="Este proyecto fue el primer proyecto desarrollado en comunidad dándole lugar a personas con poca o nula experiencia trabajando en equipo"
        title="Portfolio Ana Rangel"
        photo="card.webp"
      >
        <LinkButton
          label="Página"
          link="https://anarangel.github.io"
          icon="socials/website"
          bgColor="var(--cinnabar-color)"
          textColor="var(--text-color)"
          external
        />
        <LinkButton label="GitHub" link="https://github.com/AnaRangel/anarangel.github.io" icon="socials/github" external />
      </ProjectCard>
      <div class="line"></div>
      <div class="project-alignment">
        <div class="projects">
          <div class="project-container left">
            <div class="svg">
              <CurveIconLeft />
            </div>
            <ProjectCard
              className="project-principal"
              desc="Este proyecto fue el primer proyecto desarrollado en comunidad dándole lugar a personas con poca o nula experiencia trabajando en equipo"
              title="Ana x Cards"
              photo="card.webp"
            >
              <LinkButton
                label="Página"
                link="https://anarangel.github.io"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
                external
              />
              <LinkButton label="GitHub" link="https://github.com/AnaRangel/anarangel.github.io" icon="socials/github" external />
            </ProjectCard>
            <div class="buble">
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
            </div>
          </div>
          <div class="project-container right">
            <ProjectCard
              className="project-principal"
              desc="Este proyecto fue el primer proyecto desarrollado en comunidad dándole lugar a personas con poca o nula experiencia trabajando en equipo"
              title="Portfolio Ana Rangel"
              photo="card.webp"
            >
              <LinkButton
                label="Página"
                link="https://anarangel.github.io"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
                external
              />
              <LinkButton label="GitHub" link="https://github.com/AnaRangel/anarangel.github.io" icon="socials/github" external />
            </ProjectCard>
            <div class="buble">
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
            </div>
            <div class="svg">
              <CurveIconRight />
            </div>
          </div>
          <div class="project-container left">
            <div class="svg">
              <CurveIconLeft />
            </div>
            <ProjectCard
              className="project-principal"
              desc="Este proyecto fue el primer proyecto desarrollado en comunidad dándole lugar a personas con poca o nula experiencia trabajando en equipo"
              title="Otro Proyecto"
              photo="card.webp"
            >
              <LinkButton
                label="Página"
                link="https://anarangel.github.io"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
                external
              />
              <LinkButton label="GitHub" link="https://github.com/AnaRangel/anarangel.github.io" icon="socials/github" external />
            </ProjectCard>
            <div class="buble">
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
              <div class="projects-volunteers">
                <BubbleAvatar />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    .line {
      width: 0.375rem;
      height: 1700px;
      background-color: var(--spring-green-color);
      display: block;
      margin: auto;
      position: absolute;
      left: 50%;
      z-index: -1;
    }

    .project-alignment {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 5rem;
    }

    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    .project-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      max-width: 800px;
      margin: 8rem 0;
    }

    .curve {
      color: var(--spring-green-color);
    }

    .left {
      left: 49.9%;
    }

    .right {
      right: 49.1%;
    }

    .buble {
      display: flex;
      gap: 15rem;
      position: absolute;
      top: 257px;
      left: 20%;
      width: 300px;

      .projects-volunteers {
        display: flex;
      }
    }

    @media (max-width: 760px) {
      .line {
        height: 3000px;
      }

      .project-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
        .svg {
          display: none;
        }
      }

      .buble {
        display: none;
      }
    }
  }
</style>
