---
import LinkButton from '@components/LinkButton.astro';
import ProjectCard from '@components/ProjectCard.astro';
import BubbleAvatar from '@components/BubbleAvatar.astro';
import CurveIconLeft from '@sections/Projects/CurveIconLeft.astro';
import CurveIconRight from '@sections/Projects/CurveIconRight.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="UX Corp Rangel - Proyectos" description="Proyectos realizados en comunidad">
  <main>
    <section class="projects-wrapper">
      <div class="line"></div>

      <div class="first-project">
        <ProjectCard
          className="project-principal"
          desc="Este proyecto personal de Ana Rangel fue creado junto con la comunidad, se convirtió en un pilar clave para impulsar su crecimiento profesional y fortalecer su marca personal."
          title="Portforlio Ana Rangel"
          photo="portfolio-ana.webp"
        >
          <LinkButton
            label="Página"
            link="https://uxanarangel.com/"
            icon="socials/website"
            bgColor="var(--cinnabar-color)"
            textColor="var(--text-color)"
            external
          />
          <LinkButton label="GitHub" link="https://github.com/UXCorpRangel/portafolio-ana" icon="socials/github" external />
        </ProjectCard>
      </div>

      <div class="projects-container">
        <div class="right">
          <div class="curve-right">
            <CurveIconLeft />
          </div>

          <div class="project-volunteers">
            <ProjectCard
              className="project-secondary"
              desc="Este proyecto busca recompensar a los suscriptores y donadores de suscripciones en el canal de Twitch de Ana con cartas de unicornios coleccionables. Estas cartas representan momentos únicos del canal, tecnologías y muchas cositas divertidas para rememorar."
              title="Ana x Cards"
              photo="cards-demo.webp"
            >
              <LinkButton
                label="Página"
                link="https://cards.uxanarangel.com/"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
                external
              />
              <LinkButton label="GitHub" link="https://github.com/UXCorpRangel/ana-cards-web" icon="socials/github" external />
            </ProjectCard>
            {
              /*           <div class="volunteer">
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/luis-tenorio.webp"
                altText="Facu"
                linkedinLink="https://linkedin.com/in/facu"
                githubLink="https://github.com/facu"
              />
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/luis-tenorio.webp"
                altText="Facu"
                linkedinLink="https://linkedin.com/in/facu"
                githubLink="https://github.com/facu"
              />
            </div> */
            }
          </div>
        </div>

        <div class="left">
          <div class="curve-left">
            <CurveIconRight />
          </div>

          <div class="project-volunteers">
            <ProjectCard
              className="project-secondary"
              desc="Gracias al apoyo de muchos desarrolladores de la comunidad Ana logró llevar a cabo el rediseño de su portafolios, por esta razón decidió retribuir esta ayuda diseñando 3 plantillas para portafolios de desarrolladores, las cuales han sido desarrolladas por miembros de la comunidad para que sean fáciles de usar."
              title="Portfolio para devs"
              photo="portfolio-dev.webp"
            >
              <LinkButton
                label="Portfolios"
                link="/portfolios-dev"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
              />
              <LinkButton label="GitHub" link="https://github.com/UXCorpRangel/portfolios-dev" icon="socials/github" external />
            </ProjectCard>

            <div class="volunteer">
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/eduard-ortegon.webp"
                altText="Eduard Ortegón"
                linkedinLink="https://www.linkedin.com/in/eduardortegon"
                webLink="https://edu980-8.github.io/Portfolio_with_UX_UI_Design"
                githubLink="https://github.com/Edu980-8/Portfolio_with_UX_UI_Design"
              />

              <BubbleAvatar
                imageSrc="/assets/images/volunteers/leonardo-salazar.webp"
                altText="Leonardo Salazar"
                linkedinLink="https://www.linkedin.com/in/leonardo-salazar-serna"
                webLink="https://portfolio-leonardo-cr5f.vercel.app"
                githubLink="https://github.com/developerleonardo/portfolio-leonardo"
              />
            </div>
          </div>
        </div>

        <div class="right">
          <div class="curve-right">
            <CurveIconLeft />
          </div>

          <div class="project-volunteers">
            <ProjectCard
              className="project-secondary"
              desc='Diseñamos y desarrollamos la web de la JSConf Chile 2024 y "La Previa" de este evento, apoyando así el evento de JavaScript más importante de Chile realizado por una comunidad para otras comunidades e individuos.'
              title="JsConf Chile 2024"
              photo="jsConf.webp"
            >
              <LinkButton
                label="Página"
                link="https://jsconf.cl"
                icon="socials/website"
                bgColor="var(--cinnabar-color)"
                textColor="var(--text-color)"
                external
              />
              <LinkButton label="GitHub" link="https://github.com/UXCorpRangel/js-conf-cl-2024" icon="socials/github" external />
            </ProjectCard>

            <div class="volunteer">
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/juan-palma.webp"
                altText="Juan Palma"
                webLink="https://landing-js-conf2024.netlify.app/"
                linkedinLink="https://www.linkedin.com/in/juan-palma-alvarez/"
                githubLink="https://github.com/jpalma76/landing-js-conf2024"
              />
            </div>
          </div>
        </div>

        <div class="left">
          <div class="curve-left">
            <CurveIconRight />
          </div>
          <div class="project-volunteers">
            <ProjectCard
              className="project-secondary"
              desc="Este sitio web es el reflejo del amor y la gratitud que sentimos por Ana. Ella ha cuidado esta comunidad como si fuera un establo de unicornios, donde cada uno de nosotros ha encontrado un lugar para aprender, compartir y brillar."
              title="UX Corp Rangel"
              photo="uxCorp.webp"
            >
              <LinkButton label="Página" link="/" icon="socials/website" bgColor="var(--cinnabar-color)" textColor="var(--text-color)" />
              <LinkButton label="GitHub" link="/" icon="socials/github" external />
            </ProjectCard>
            {
              /*           <div class="volunteer">
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/luis-tenorio.webp"
                altText="Facu"
                linkedinLink="https://linkedin.com/in/facu"
                githubLink="https://github.com/facu"
              />
              <BubbleAvatar
                imageSrc="/assets/images/volunteers/luis-tenorio.webp"
                altText="Facu"
                linkedinLink="https://linkedin.com/in/facu"
                githubLink="https://github.com/facu"
              />
            </div> */
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .projects-wrapper {
    width: 110rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    .line {
      width: 8px;
      height: 1470px;
      position: absolute;
      background-color: var(--spring-green-color);
      z-index: -1;
      top: 20rem;
    }

    .first-project {
      max-width: 56.25rem;
      margin: 3rem 0;
    }

    .projects-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 8rem 0;
      .right {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        left: 37.8%;

        .curve-right {
          position: absolute;
          z-index: -1;
          left: 12%;
          top: -30%;
        }

        .project-volunteers {
          max-width: 600px;
          position: relative;
          right: 6%;
          z-index: 1;

          .volunteer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 8rem;
            margin: 1rem 0;

            z-index: -1;
            position: absolute;
            inset-block-inline: 0;

            @media (width < 768px) {
              position: relative;
            }
          }
        }
      }

      .left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 37.75%;

        .curve-left {
          position: absolute;
          z-index: -1;
          right: 12%;
          top: -30%;
        }

        .project-volunteers {
          max-width: 600px;
          position: relative;
          left: 6%;

          .volunteer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8rem;
            margin: 1rem 0;
          }
        }
      }
    }
  }

  @media (width <= 768px) {
    .projects-wrapper {
      width: 100%;
      margin: 0.5rem;

      .line {
        height: 3000px;
      }

      .first-project {
        margin: 1rem;
      }

      .projects-container {
        margin: 1rem;
        .right {
          left: 0;

          .curve-right {
            display: none;
          }

          .project-volunteers {
            left: 0;
            margin: 1rem;
          }
        }

        .left {
          right: 0;

          .curve-left {
            display: none;
          }

          .project-volunteers {
            left: 0;
            margin: 1rem;
          }
        }
      }
    }
  }
</style>
