<header class="navbar-wrapper">
  <div class="container">
    <h1>UX Corp Rangel</h1>

    <span>Boton</span>

    <nav id="target-nav">
      <ul>
        <li>
          <a href="#" class="active">Home</a>
        </li>

        <li>
          <a href="#">About</a>
        </li>

        <li>
          <a href="#">Works</a>
        </li>

        <li>
          <a href="#">Blogs</a>
        </li>

        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    color: var(--alt-text-color);
    padding-block: 1.25rem;
    backdrop-filter: blur(12px);
    background-color: rgb(from var(--text-color) r g b / 0.9);
    border-style: solid;
    border-color: var(--alt-text-color);
    border-block-width: 2px;
    height: 96px;
    z-index: 40;
    position: fixed;
    inset-inline: 0px;
    inset-block-start: 0px;

    & .container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 1rem;
      margin-inline: auto;

      @media (width >= 1024px) {
        padding-inline: 2rem;
      }

      & h1 {
        font-weight: 800;
        font-size: 1.875rem;
        line-height: 2.25rem;
      }

      #target-nav {
        text-transform: uppercase;
        transition-duration: 300ms;
        transform: translate(var(--translate-x), 0);

        @media (width < 1024px) {
          --translate-x: -100%;
          width: 18rem;
          z-index: 50;
          background-color: var(--text-color);
          border-color: var(--alt-text-color);
          border-right-width: 2px;
          position: fixed;
          inset-inline-start: 0px;
          inset-block: 0px;
        }

        & nav {
          @media (width < 1024px) {
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
          }

          @media (width >= 1024px) {
            margin-inline-start: 1rem;
          }

          a {
            @media (width < 1024px) {
              padding-block: 0.75rem;
              padding-inline: 1rem;
              border-color: var(--alt-text-color);
              border-block-end-width: 1px;
            }

            &:hover,
            &.active {
              color: rgb(0 166 162);
            }
          }
        }
      }
    }
  }
</style>
