---
import LinkButton from './LinkButton.astro';

const { imageSrc, altText, linkedinLink, githubLink } = Astro.props;
---

<div class="bubble">
  <img src={imageSrc} alt={altText} class="avatar-volunteer" />
  <div class="buttons-volunteer">
    <LinkButton
      link={linkedinLink}
      label="LinkedIn"
      icon="socials/linkedin"
      shadow="green"
      bgColor="var(--linkedin-color)"
      textColor="var(--text-color)"
    />
    <LinkButton link={githubLink} label="GitHub" icon="socials/github" shadow="green" bgColor="var(--github-color)" textColor="var(--text-color)" />
  </div>
</div>

<style>
  .bubble {
    width: 131px;

    .avatar-volunteer {
      border-radius: 100%;
      border: 1px solid var(--spring-green-color);
    }

    .buttons-volunteer {
      display: flex;
      justify-content: center;
      gap: 1rem;
      position: relative;
      top: -20px;
    }
  }
</style>
