<footer>
  <div class="container">
    <div>
      <nav>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Guideline</a>
      </nav>

      <p>UX Corp Rangel © 2024 | All Rights Reserved.</p>
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100dvw;
    padding-block: 2rem;
    background-color: var(--alt-text-color);

    & .container {
      padding-inline: 1rem;
      margin-inline: auto;
      width: 100%;

      @media (width >= 1024px) {
        padding-inline: 2rem;
      }

      & div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (width >= 768px) {
          flex-direction: row;
          justify-content: space-between;
        }

        @media (width < 768px) {
          text-align: center;
          justify-content: center;
        }

        & nav {
          display: flex;
          flex-direction: column;

          @media (width >= 768px) {
            margin-inline: auto;
          }
          @media (width < 768px) {
            flex-direction: column;
          }

          & a {
            padding-inline: 0.5rem;

            @media (width < 640px) {
              padding-block: 0.5rem;
            }
          }
        }

        & p {
          margin: 0;
        }
      }
    }
  }
</style>
