---
import LinkButton from '@components/LinkButton.astro';

const socials = [
  {
    name: 'LinkedIn',
    link: '#linkedIn',
    iconName: 'socials/linkedin',
    style: {
      '--bg': 'hsl(199 85% 36%)'
    }
  },
  {
    name: 'Github',
    link: '#github',
    iconName: 'socials/github',
    style: {
      '--bg': 'hsl(0 0% 12%)'
    }
  },
  {
    name: 'Discord',
    link: '#discord',
    iconName: 'socials/discord',
    style: {
      '--bg': 'hsl(235 86% 65%)'
    }
  }
];
---

<section class="hero">
  <div class="hero__title-container">
    <h1 class="hero__title">
      Somos una <span class="hero__highlight">comunidad</span> vibrante de <span class="hero__highlight">diseñadores</span> y <span class="hero__highlight">desarrolladores</span> que
      colaboran en <span class="hero__highlight">proyectos</span> de código abierto.
    </h1>
  </div>

  <div class="hero__social-container" aria-label="Redes sociales">
    {socials.map(({ name, link, iconName, style }) => <LinkButton label={name} icon={iconName} link={link} bgColor={style['--bg']} textColor="#fff" />)}
  </div>

  <div class="hero__logo">
    <img src="assets/images/logo-ux-corp-rangel.png" alt="logo ux corp rangel" loading="lazy" decoding="async" />
  </div>
</section>

<style>
  .hero {
    max-width: 1440px;
    margin-inline: auto;
    gap: 2rem;
    padding: clamp(1rem, 5vw, 4rem);
    display: grid;
    justify-content: center;

    @media (min-width: 984px) {
      grid-template-columns: 1fr 552px;
      grid-template-rows: 1fr 1fr;

      .hero__title-container {
        grid-column: 1;
      }
      .hero__social-container {
        grid-column: 1;
        grid-row: 2;
      }
      .hero__logo {
        grid-column: 2;
        grid-row: 1 / span 2;
      }
    }

    .hero__social-container {
      order: 3;
    }
  }

  .hero__title-container {
    display: grid;
    align-items: end;
  }

  .hero__title,
  .social-container--link {
    font-family: var(--main-font-family);
  }

  .hero__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30.6px;
    color: #f2f4ef;
    max-width: 550px;
    text-wrap: pretty;

    --highlight-color-1: #f7cb46;
    --highlight-color-2: #cb9cf8;
    --highlight-color-3: #ee2525;
    --highlight-color-4: #39ed81;

    .hero__highlight {
      display: inline;
    }
    .hero__highlight {
      &:nth-child(1) {
        color: var(--highlight-color-1);
      }
      &:nth-child(2) {
        color: var(--highlight-color-2);
      }
      &:nth-child(3) {
        color: var(--highlight-color-3);
      }
      &:nth-child(4) {
        color: var(--highlight-color-4);
      }
    }
  }

  .hero__social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .hero__social-link {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 8px;
    gap: 0.5rem;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.5px;
    text-align: left;
    text-decoration: none;
    background-color: hsl(var(--bg));
    color: #fff;
    border: 1px solid #000;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 4px 4px 0 0px hsl(var(--bg) / 0.3);
    }
  }

  .hero__logo {
    background-color: red;
    aspect-ratio: 1 / 1.01;
    max-width: 456px;
    width: 100%;
    margin-inline: auto;
    background-color: #cb9cf8;
    border-radius: 16px;
    border: 2px solid #000000;
    padding: 2rem;

    --shadow-width: 8px;

    box-shadow: var(--shadow-width) var(--shadow-width) 0px 0px #39ed81;
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      --calc-shadow-width: calc(var(--shadow-width) / 2);
      box-shadow: var(--calc-shadow-width) var(--calc-shadow-width) 0px 0px #39ed81;

      img {
        transform: rotate(-2deg);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  .hero__title:hover .hero__highlight {
    animation-play-state: running;
  }
  .hero__highlight {
    animation: colorChange 5s infinite forwards;
    animation-play-state: paused;
    --delay: 1s;

    &:nth-child(1) {
      animation-delay: var(--delay) + 1s;
    }

    &:nth-child(2) {
      animation-delay: calc(var(--delay) + 2s);
    }

    &:nth-child(3) {
      animation-delay: calc(var(--delay) + 2.5s);
    }

    &:nth-child(4) {
      animation-delay: calc(var(--delay) + 3s);
    }
  }

  /* --- KEYFRAMES --- */
  @keyframes colorChange {
    0% {
      color: var(--highlight-color-1);
    }
    25% {
      color: var(--highlight-color-2);
    }
    50% {
      color: var(--highlight-color-3);
    }
    75% {
      color: var(--highlight-color-4);
    }
    100% {
      color: var(--highlight-color-1);
    }
  }
</style>
