---
import MissionCard from '@components/MissionCard.astro';
---

<section id="mision">
  <div class="container">
    <header>
      <h1>Nuestra <span>Misi贸n</span></h1>
    </header>
    <article class="cards-container">
      <MissionCard
        title="Colaboraci贸n"
        desc="Fomentar un ambiente de colaboraci贸n donde las ideas pueden ser compartidas libremente."
        icon="colaboracion.webp"
        color="var(--fuchsia-blue-color)"
      />
      <MissionCard
        title="Educaci贸n"
        desc="Proveer recursos y oportunidades de aprendizaje para todos los miembros de la comunidad."
        icon="educacion.webp"
        color="var(--violet-red-color)"
      />
      <MissionCard
        title="Inclusividad"
        desc="Crear un espacio inclusivo donde todos se sientan bienvenidos y valorados."
        icon="inclusividad.webp"
        color="var(--burning-orange-color)"
      />
    </article>
  </div>
</section>

<style>
  section {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container {
      width: min(80rem, 100vw);

      @media (width < 1280px) {
        width: 90%;
      }
    }

    & header {
      & h1 {
        font-weight: 400;
        font-size: 4.375rem;
        text-align: center;
        margin-bottom: 4rem;

        & span {
          text-decoration: underline 0.25rem;
        }
      }
    }

    & .cards-container {
      display: flex;
      gap: 2rem;
      justify-content: center;
      max-width: 70.563rem;
      margin: 6rem auto 0;
    }
  }

  @media (width <= 768px) {
    section {
      padding: 4rem 0;

      & header {
        & h1 {
          font-size: 2.188em;
        }
      }

      & .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      }
    }
  }
</style>
