---
import VolunteerCard from '@components/VolunteerCard.astro';
import { volunteers } from '@data/team.data';
---

<section id="voluntarios">
  <div class="container">
    <header>
      <h1>Voluntarios</h1>
    </header>

    <div class="cards-container">
      {volunteers.map(({ img, name, socials, tags }) => <VolunteerCard img={img} name={name} socials={socials} tags={tags} />)}
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container {
      width: min(80rem, 100vw);

      & header h1 {
        font-weight: 400;
        font-size: 4.375rem;
        text-align: center;
        margin-bottom: 4rem;
        text-decoration: underline 0.25rem;
      }

      & .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
      }

      @media (width < 1280px) {
        width: 90%;
      }
    }
  }

  @media (width < 768px) {
    section {
      & .container {
        & header h1 {
          font-size: 2.188em;
        }
      }

      & .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      }
    }
  }
</style>
